name: Caching

on:
    workflow_dispatch:
        inputs:
            use-cache:
                description: 'use cache'
                default: true
                type: boolean

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: caching/react-app
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            
            - name: Setup node
              uses: actions/setup-node@v3
              with:
                node-version: '20.x'
            
            - name: Install dependencies
              run: npm install
            
            - name: Testing caching
              run: npm run build
            
            - name: Deploying to non prod
              run: echo "Deploying to non prod environment"