name: Executions

on:
    workflow_dispatch:
        inputs:
            pass-unit-tests:
                type: boolean
                description: Whether unit tests will pass or not
                default: true

jobs:
    lint-build:
        runs-on: ubuntu-latest
        steps:
            - name: Lint and build
              run: echo "Linting and build"
    unit-test:
        runs-on: ubuntu-latest
        steps:
            - name: Lint and build
              run: echo "Linting and build"
            - name: Failing tests
              if: ${{ !inputs.pass-unit-tests }}
              run: exit 1
    deploy-nonprod:
        runs-on: ubuntu-latest
        needs:
            - lint-build
            - unit-test
        steps:
            - name: Lint and build
              run: echo "Linting and build"
    e2e-tests:
        runs-on: ubuntu-latest
        needs:
            - deploy-nonprod
        steps:
            - name: Lint and build
              run: echo "Linting and build"
    deploy-prod:
        runs-on: ubuntu-latest
        needs:
            - e2e-tests
        steps:
            - name: Lint and build
              run: echo "Linting and build"