name: Expressions
run-name: Expressions with Debug - ${{ inputs.debug && 'ON' || 'OFF' }}

on: 
    push:
    workflow_dispatch:
        inputs:
            debug:
                type: boolean
                default: false

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Print start-up information
              if: inputs.debug
              run: |
                echo "Triggered by: github.event_name"
                echo "Branch: github.ref"
                echo "Runner OS: runner.os"
              