name: Outputs

on:
    workflow_dispatch:

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
        - name: Print github output file
          run: cat "$GITHUB_OUTPUT"
  build:
    runs-on: ubuntu-latest
    outputs:
        build-status: ${{ steps.build.outputs.status }}
    steps:
      - name: Builds
        id: build
        run: echo "build-status=true" >> "$GITHUB_OUTPUT"
  test:
    runs-on: ubuntu-latest
    needs: build
    if: fromJson(${{ needs.build.outputs.build-status }})
    steps:
        - name: Test
          run: echo "test success"

