name: Release workflow

on:
    workflow_dispatch:
        inputs:
            release-type: 
                type: choice
                options:
                    - auto
                    - patch
                    - minor
                    - major
                default: auto

jobs:
    tag-release:
        runs-on: ubuntu-latest
        steps:
        # 1. Should get latest tag of repository based on matching tag-prefix. For example, if tag-prefix is 'v', and tags are v1.0.0, v1.1.0, v2.0.0, the latest tag is v2.0.0.
        # Once it gets the tag, it should set an output 'latest-tag' with the value of the latest tag. Don't use composite actions for this step.
        # if no tags, then set latest tag as tag-prefix + 0.0.0

        - uses: actions/checkout@v3
        - name: Get latest tag
          id: get-latest-tag
          run: |
            TAG_PREFIX="v"
            LATEST_TAG=$(git tag --list "${TAG_PREFIX}*" --sort=-v:refname | head -n 1)
            if [ -z "$LATEST_TAG" ]; then
              LATEST_TAG="${TAG_PREFIX}0.0.0"
            fi
            echo "Latest tag: $LATEST_TAG"
            echo "latest-tag=$LATEST_TAG" >> $GITHUB_OUTPUT
          shell: bash


