name: Release workflow

on:
    workflow_dispatch:
        inputs:
            release-type: 
                type: choice
                options:
                    - auto
                    - patch
                    - minor
                    - major
                default: auto

jobs:
    get-tag:
        runs-on: ubuntu-latest
        steps:
        # Should get latest tag of repository based on matching tag-prefix. For example, if tag-prefix is 'v', and tags are v1.0.0, v1.1.0, v2.0.0, the latest tag is v2.0.0.
        # Once it gets the tag, it should set an output 'latest-tag' with the value of the latest tag. Don't use composite actions for this step.
        # if no tags, then set latest tag as tag-prefix + 0.0.0

        - uses: actions/checkout@v3
        - name: Get latest tag
          id: get-latest-tag
          run: |
            TAG_PREFIX="v"
            LATEST_TAG=$(git tag --list "${TAG_PREFIX}*" --sort=-v:refname | head -n 1)
            if [ -z "$LATEST_TAG" ]; then
              LATEST_TAG="${TAG_PREFIX}0.0.0"
            fi
            echo "Latest tag: $LATEST_TAG"
            echo "latest-tag=$LATEST_TAG" >> $GITHUB_OUTPUT
          shell: bash
        
        # Next step is to provide the latest tag and release type to the release action defined in .github/actions/release/action.yaml
        # This action is a composite action that takes care of computing the new tag based on the latest tag and release type.
        - name: Release a tag
          uses: ./.github/actions/release
          id: release
          with:
            release-type: ${{ github.event.inputs.release-type }}
            tag: ${{ steps.get-latest-tag.outputs.latest-tag }}