name: Release workflow

on:
    workflow_dispatch:
        inputs:
            release-type: 
                type: choice
                options:
                    - auto
                    - patch
                    - minor
                    - major
                default: auto
            tag-prefix:
                default: v0.0.0
            changelog-path: 
                default: CHANGELOG.md
            dry-run:
                default: true
                description: dry-run - when true, do not write files, only compute outputs.
                type: boolean

jobs:
    tag-release:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: Releases the tag
            uses: ./.github/actions/release
            with:
                release-type: ${{ inputs.release-type }}
                tag-prefix: ${{ inputs.tag-prefix }}
                changelog-path: ${{ inputs.changelog-path }}
                dry-run: ${{ inputs.dry-run }}
  