name: Release workflow

on:
    workflow_dispatch:
        inputs:
            release-type: 
                type: choice
                options:
                    - auto
                    - patch
                    - minor
                    - major
                default: auto

jobs:
    tag-release:
        runs-on: ubuntu-latest
        steps:            
          - name: Checkout with full history (tags, describe, changelogs)
            uses: actions/checkout@v4
            with:
              fetch-depth: 0
          
        #   - uses: actions/checkout@v4
        #   - name: Releases the tag
        #     id: release_tag
        #     uses: ./.github/actions/release
        #     with:
        #         release-type: ${{ inputs.release-type }}
        #         tag-prefix: v
        #         dry-run: false
          
        #   - name: Create a tag
        #     if: ${{ !steps.release_tag.dry_run}}
        #     run: |
        #       git config user.name "Abijith97"
        #       git config user.email "unniabija@gmail.com"
        #       git tag ${{ steps.meta.outputs.tag }}
        #       git push origin ${{ steps.meta.outputs.tag }}