name: Using actions

on:
    pull_request:
        types:
            - opened
            - synchronize
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ".github/workflows/"
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Print repo files
              run: ls -la