name: Workflow events

on: 
  push:
  pull_request:
  schedule:
    # every 5 minutes
    - cron: "*/5 * * * *"
  workflow_dispatch:
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: echo "This workflow was triggered by ${{ github.event_name }} event"